*{
  color: #01473E;
  font-family: 'Montserrat', Arial,Verdana, Tahoma, sans-serif ;
}
body {
  margin: 0;
  padding: 0;
  background: 	#d4efd4  ;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  

}




h1,h2{
  font-weight: 700;
}

.btn-success{
  font-weight: 700;
  background-color: #48bf91;
  border: 1px solid #48bf91;
}

.btn-success:hover{
  background-color: #19e6b3;
  border: #19e6b3;
}

.btn-success:active{
  border: 1px solid #19e6b3;
  background-color: #19e6b3;
  color: #fff;

}

.btn-outline-success {
  color: #01473E;
  font-weight:700;
  border-radius: 20px;
  border:  1px solid #01473E;
  background-color: #48bf91;
}

.btn-outline-success:hover{
  border: 1px solid #01473E;
  background-color: #19e6b3;
  color: #fff;
}

.btn-outline-success:active{
  border: 1px solid #01473E;
  background-color: #19e6b3;
  color: #fff;

}

.sidebar .btn-outline-success{
  border: 1px solid #fff;
  background-color: #01473E;
}

.sidebar .btn-outline-success:hover{
  background-color: #fff;
}

/* Navbar */
header .navbar{
  padding: 20px 180px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #d4efd4  ;
  color: #01473E;
  
}
header .navbar .nav-links{
  display: flex;
  gap: 50px;
  margin-left: 255px;
  
}
header .navbar a{
  color: #01473E;
  font-weight: 700;
  text-decoration: none;
}





/*sidebar*/
.sidebar{
  background-color: #01473E;
  padding: 50px 10px;
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5);
}

.sidebar h2{
  font-size: 24px;
  color: white;
}

.sidebar a{
  margin-bottom: 20px;
  font-weight: 700;
  color: white;
}

.sidebar a:hover{
  color: #111;

}


/* Footer */
footer {
  background: #01473E;
  
}

footer .container{
  padding: 0;
  margin: 20px 180px;
}

footer .row{
  width: 100%;

  
}


footer .about{
  text-align: left;
  margin-right: 500px;
}

footer .link{
  text-align:left;
}

footer h5{
  color: #fff;
  font-weight: 700;
}

footer p{
  color: #fff;
  font-weight: 500;
}








/* Home page */
.home .hero {
  margin: 200px 180px 200px 180px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  

}

.home .hero-text {
  flex: 7; 
}

.home .hero-text h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.home .hero-text h2 {
  font-size: 2.0rem;
  margin-bottom: 30px;
  width: 500px;
}

.hero .button {
  display: flex;
  gap: 30px;
  
}

.hero-img {
  flex: 3; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img {
  max-width: 100%;
  border-radius: 10px;
  mix-blend-mode: difference;
}


.guide{
  margin: 0 180px 200px 180px;
 
}

.guide h1, .statistics h1{
  text-align: center;
}

.guide .card-group{
  margin: 50px 0;
  display: flex;
  gap: 20px; 

}

#card-1,#card-2, #card-3{
  border-radius: 20px;
}

.guide .card{
  background-color: #dbefd4;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-right: 20px;
  box-shadow: 0 4px 8px #01473E;
  transition: transform 0.3s;
}

.guide .card:hover {
  transform: translateY(-10px);
}

.guide .card img {
  object-fit: contain; 
  height: 150px; 
  width: 100px; 
  margin: 20px auto; 
  display: block; 
  transition: transform 0.3s, filter 0.3s;
}

.guide .card img:hover {
  transform: scale(1.1); 
  filter: brightness(0.9); 
}

.guide .card-body {
  padding: 20px;
  text-align: center; 
}
.guide .card-title{
  color: #01473E;
  font-size: 20px;
  font-weight: 700;
}

.guide .card-text{
  font-size: 16px;
}



.get-started{
  background-color: #48bf91;

  margin: 0 180px 200px 180px;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 10px 10px 20px #01473E;
}

.get-started p{
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 30px;
}

.get-started .btn{
  background-color: #01473E;
  border: 1px solid #01473E;
 
}

.get-started .btn:hover{
  background-color: #19e6b3;
  border: 1px solid #ffffff;
}





/* sign-in/sign-up page */


.login{
  margin: 100px 180px;
}
.login .container {
  width: 100%;
  height: 100vh;


}
.login .formBox {
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #48bf91;
  padding: 50px 60px 50px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.login .formBox h1 {
  font-size: 30px;
  margin-bottom: 60px;
  color: #01473E;
  position: relative;
}

.login .inputField {
  background: #fff;
  margin: 15px 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}

.login input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

.login .otherField {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  

}
.login .otherField button {
  flex-basis: 48%;
  background-color: #01473E;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #fff;
  outline: 0;
  transition: background 1s;
  margin-top: 10px;

}
.login .otherField button:hover {
  background-color: #19e6b3;
  transition: 1s;
}
.login a{
  color: #fff;

}

.login p, .login span{
  color:  #01473E;
}







/* lost and found page*/
.container-fluid{
  width: 100%;
  padding: 50px;
  margin: 0;

}

 
.lost-items {
  background-color: #FAFBFF;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5);
 
}

.lost-items h2 {
  margin-bottom: 30px;
  color: #333;
}




.lost-items .card {
  margin: 0 ;  
  border: none;
  background-color: 	#d4efd4;
  border-radius: 10px;
  box-shadow:rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lost-items .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.lost-items .card-img-top {
  height: 10em;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.lost-items .card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  text-align: left; 
}

.lost-items p{
  color: #01473E;
  font-weight: 700;
}

.lost-items .card-title {
  font-size: 1rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.lost-items .card-text {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  text-align: left; 
}

.lost-items .btn-success {
  background-color: #48bf91;
  border-color: #48bf91;
  color: #fff;
  align-self: center;
  margin-top: auto;
  transition: background-color 0.3s, border-color 0.3s;
}

.lost-items .btn-success:hover {
  background-color: #19e6b3;
  border-color: #19e6b3;
}






/* claim-page */

.claim-items {
  background-color: #FAFBFF;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5);
}

.claim h1 {
  margin-bottom: 30px;
  color: #333;

}

.claim-items .card {
  background-color: #d4efd4;
  margin: 0 ;
  border: none;
  border-radius: 10px;
  box-shadow:rgba(0, 8px, 16px, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.claim-items .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.claim-items .card-img-top {
  height: 10em;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.claim-items .card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  text-align: left; 
}

.claim-items .card-title {
  font-size: 1rem;
  margin-bottom: 15px;
  font-weight: 700;
}



/*contact*/

.contact-container {
  background-color: #01473E;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
  max-width: 1200px;
  margin: 150px auto;
  border-radius: 20px;

  }
  .contact-text {
    color: #fff;
    flex: 1;
    padding-right: 30px;
  }

  .contact-text h1 {
  
    font-size: 3rem;
    color: #fff;
  }

  .contact-text p {
    font-size: 1.2rem;
    color: #fff;
    margin: 20px 0;
  }

  .contact-text h3 {
    margin-top: 40px;
    color: #fff;
    font-weight: 700;
  }

  .contact-form {
    flex: 1;
    max-width: 500px;
    background-color: #d4efd4;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  .contact-form h2 {
    font-size: 2rem;
    color: #01473E;
    margin-bottom: 20px;
    text-align: center;
  }

  .contact-form .form-control {
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .contact-form button {
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 20px;
    transition: background-color 0.3s;
    margin-left: 170px;
  
  }

  

  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
    }

    .contact-text {
      padding-right: 0;
      margin-bottom: 30px;
    }
  }



    
/*HELP*/

.help .hero{
  margin: 150px 180px 0 ;
}

.faq{
  margin: 50px 180px 85px;
}
.faq h2{
  margin-bottom: 20px;
}

/*admin-side*/

/*admin-dashboard*/
.admin-home {
  background-color: white;
  padding: 150px 20px;
  text-align: center;
  font-weight: 700;
  color: #01473e;
}

.admin-home h1{
  margin-bottom: 30px;
}

.admin-home .btn-container{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}


/*lost-found*/
.lost-found-items{
  background-color: #FAFBFF;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5);
}

.lost-found-items .add{
  background-color: #d4efd4;
  padding: 20px;
  border-radius: 20px;
  margin: 50px auto 20px;
  text-align: center;

}
.lost-found-items .item-card {
  margin: 0 ;  
  border: none;
  background-color: 	#d8e4e9;
  border-radius: 10px;
  box-shadow:rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lost-found-items .item-card img {
  height: 10em;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.lost-found-items .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.lost-found-items .form-container{
  background-color: #d4efd4;
  max-width: 500px;
  text-align: left;
}

#lostFoundFormAdmin{
  max-width:400px;
  margin: 30px 0;
}

#lostFoundFormAdmin .btn-success{
  text-align: center;

}


/*review-claim*/

.review-claims #claimsContainer{
  display: flex;
  flex-direction: column;
  gap: 30px;
 
}

.review-claims{
  background-color: #FAFBFF;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5);

}

.review-claims h4{
  font-weight: 700;
  margin-bottom: 20px;
}

.review-claims p{
  color: #27303e;
}


.review-claims .claim-card {
  background: #d4efd4;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.review-claims .button-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 10px;
}

.review-claims button{
  border-radius: 20px;
  margin-right: 5px;
}



























/*animations*/
@keyframes drop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.drop-text {
  display: inline-block;
  animation: drop 1s ease-out forwards;
}


@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-left {
  display: inline-block;
  animation: slideInLeft 1s ease-out forwards;
}


@keyframes riseFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.rise-text {
  display: inline-block;
  animation: riseFromBottom 1s ease-out forwards;
}
